* {
    box-sizing: border-box;
  }
  
body {
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
}


.cards_container {
    display: flex;
    align-items: center;
    width: 90vw;
    height: auto;
    flex-direction: row;
}

.card_box {
    display: flex;
    justify-content: center;
    margin: 0;
    
}

.cards {
    width: 346px;
    height: auto;
    
}

.cards_title,
.cards_text {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.cards_text {
    height: 8vh;
}

.line {
    width: 80%;
    height: 1px;
    background-color: #44CFCB;
    border: none;
}

.technologies_title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.technologies_title h4 {
    font-family: 'Roboto Slab';
    color: gray;
}

.card_content {
    font-family: 'Roboto Slab';
    display: flex;
    
}