body {
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
}



.skills_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20rem; */
    /* margin-bottom: 5rem; */
}

.card_box_skills {
    width: 100%;
    height: auto;
    border: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}



.item_icons  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.project_container_skills {
    display: flex;
    justify-content: flex-end;
    margin-top: -3rem;
}

.frontend_title h3,
.backend_title h3,
.agile_tool_title h3 {
    width: 15vw;
    padding: 1rem;
    font-family: 'Roboto Slab';
    font-weight: 400;
    color: #153B61;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frontend_title,
.backend_title,
.agile_tool_title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.frontend_title_box,
.backend_title_box,
.agile_tool_title_box {
    background-color: #FFA000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

