* {
    box-sizing: border-box;
  }

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.navigation_container {
    display: flex;
    margin-top: 3%; 
    
}
.navbar_header {
    min-width: 100vw;
    height: auto;
    display: flex;
    background-color: #44CFCB;
    /* border-bottom-left-radius: 20px;
    border-top-left-radius: 20px; */
    justify-content: space-evenly;
    box-shadow: 10px 10px 5px  #86c5c3;   
}

.header_navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


ul {
    display: flex;
    
}

li {
    list-style-type: none;
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: flex-start;
    
}

li a {
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Roboto Slab';
    color: #153B61;
}
.icon {
    cursor: pointer;
}

.icon:hover {
    background-color: #153B61;
    
}
.social_media  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px ;

}

.social_icons {
    width: 100vw;
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top:15rem;
    position: fixed;
}

.social_icons_icons {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

/* Media query */


@media only screen and (max-width: 620px) {
    .navbar_header {
        min-width: 50rem;
        height: auto;
        display: flex;
        background-color: #44CFCB;
        border-bottom-left-radius: 0;
        margin-right: 0;
    }
}
