@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

* {
    box-sizing: border-box;
  }

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.logo {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    background-color: whitesmoke;
    margin-top: -2rem;
    z-index: 1;
}

.logo_image{
    width: 11.5rem;
    height: 4rem;
    /* margin-left: 1rem; */
   
}
.navigation_container {
    display: flex;
    margin-top: 2rem; 
    position: fixed;
    z-index: 2;
}
.navbar_header {
    min-width: 100vw;
    height: 5rem;
    display: flex;
    background-color: #44CFCB;
    justify-content: space-around;
    box-shadow: 10px 10px 5px  #86c5c3;   
    /* position: fixed; */
    z-index: 1;

}

.header_navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



ul {
    display: flex;
    align-items: center;
 
}

li {
    list-style-type: none;
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: flex-start;
    
}

li a {
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Roboto Slab';
    color: white;
}

li a:hover {
    color: #153B61;
}
.icon {
    cursor: pointer;
   
}

.icon:hover {
    background-color: #153B61;
    
}
.social_media  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px ;

}

.social_icons {
    width: 100vw;
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top:38rem;
    position: fixed;
    z-index: -1;
}

.social_icons_icons {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

/* Media query */

@media only screen and (max-width: 620px) {
    .navbar_header {
        min-width: 50rem;
        height: auto;
        display: flex;
        background-color: #44CFCB;
        border-bottom-left-radius: 0;
        margin-right: 0;
    }
}
