.footer_container {
    width: 100vw;
    height:5rem;
    background-color: #F8F8F8;
    border-top: 1px solid #86c5c3;
    display: flex;
    justify-content: center;
    align-items: center;
}

small {
    font-family: 'Roboto Slab';
    font-size: 1rem;
}